
html,body{
    height: 100%;
    background-image: url(img/background-v3.png);
    background-position:center center;
    background-size: cover;
    background-attachment: fixed;
}
.navbar-light .navbar-toggler { /* Menu Hamburg*/
    border: none;
}
#icon { /* Icon Menu Hamburg*/
    width: 50px;
    color: white;
    padding: 10px;
}



header{
    background-color: #012e3c;
    
}
header .navbar-light .navbar-nav .nav-link {
    color: #B9D0F0;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}
header .navbar-light .navbar-nav .nav-link:hover {
    color: #00B2DB;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}
.center{
    text-align: center;

}
#linked{
    font-size: 50px;
    color: black;
} 

.bg1{
    background-color: #00B2DB;
}
.bg2{
    background-color: #497C77;
}
.bg3{
    background-color: #012E3C ;
}
.bg4{
    background-color: #b9d0f081;
}
.txt1{
    color: #003d50 ;
}
.txt2{
    color: #00B2DB;
}
#width-carousel{
  width: 78%; 
}


/* Paleta Cores
#00B2DB
#497C77
#012E3C
*/
/* Breakpoints para Media Queries*/
/*Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/ 
@media (max-width: 575.98px) { 
    #img-home{
        width: 200px;
        margin: 0px;
        display: block;
    }
    #projetos h4{
      font-size: 2em;
    }
    #sobremim h1, #sobremim h4{
      font-size: 2em;
    } 
    #skills h1{
      font-size: 2em;
    }
    #cursos h1{
      font-size: 2em;
    }
    #cursos h4{
      font-size: 1.2em;
    }
    #contato h4{
      font-size: 2em;
    }

 }

/*Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/ 
@media (min-width: 576px) and (max-width: 767.98px) { 

  #projetos h4{
    font-size: 2.5em;
  }
  #sobremim h1, #sobremim h4{
    font-size: 2.5em;
  } 
  #skills h1{
    font-size: 2.5em;
  }
  #cursos h1{
    font-size: 2.5em;
  }
  #cursos h4{
    font-size: 1.2em;
  }
  #contato h4{
    font-size: 2.5em;
  }
 }

/*Dispositivos médios (tablets com 768px ou mais)*/ 
@media (min-width: 768px) and (max-width: 991.98px) { 
    #img-head{
        width: 228px;
    }
    #projetos h4{
      font-size: 2.8em;
    }
    #sobremim h1, #sobremim h4{
      font-size: 2.8em;
    } 
    #skills h1{
      font-size: 2.8em;
    }
    #cursos h1{
      font-size: 2.8em;
    }
    #cursos h4{
      font-size: 1.7em;
    }
    #contato h4{
      font-size: 2.8em;
    }

 }

/*Dispositivos large (desktops com 992px ou mais)*/ 
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #img-head{
        width: 300px;
    }
    #projetos h4{
      font-size: 3em;
    }
    #sobremim h1, #sobremim h4{
      font-size: 3em;
    } 
    #skills h1{
      font-size: 3em;
    }
    #cursos h1{
      font-size: 3em;
    }
    #cursos h4{
      font-size: 2em;
    }
    #contato h4{
      font-size: 3em;
    }
 }

/*Dispositivos extra large (desktops grandes com 1200px ou mais)*/ 
@media (min-width: 1200px) {
    #img-head{
        width: 300px;
    }
    #projetos h4{
      font-size: 3em;
    }
    #sobremim h1, #sobremim h4{
      font-size: 3em;
    } 
    #skills h1{
      font-size: 3em;
    }
    #cursos h1{
      font-size: 3em;
    }
    #cursos h4{
      font-size: 2em;
    }
    #contato h4{
      font-size: 3em;
    }
 }

/*ANIMAÇÕES*/
@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }

  .jello-horizontal { /*ANIMAÇÕES MENU HAMBURG*/
	-webkit-animation: jello-horizontal 1.5s infinite ;
	        animation: jello-horizontal 1.5s infinite ;
            animation-delay: 2s;
        
}

.shake-top { /*ANIMAÇÕES WHATSAPP*/
	-webkit-animation: shake-top 1.3s infinite ;
	        animation: shake-top 1.3s infinite ;
}
@-webkit-keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

.rotate-in-hor {/*ANIMAÇÕES PARA SECTION*/
	-webkit-animation: rotate-in-hor 0.5s ;
	        animation: rotate-in-hor 0.5s ;
}
@-webkit-keyframes rotate-in-hor {
    0% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      opacity: 1;
    }
  }
  @keyframes rotate-in-hor {
    0% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      opacity: 1;
    }
  }
  

  
